body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    margin: 0 auto;

}

h1,h2,h3,h4,h5,h6,p,{
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e7e7;
    /* Цвет и толщина границы снизу */
    display: flex;
    justify-content: space-between;
    /* Элементы равномерно распределены */
    padding: 15px 0;
    /* Верхний и нижний отступы */
}

.header-container {
    display: flex;
    justify-content: center;
    /* Горизонтальное центрирование содержимого */
    align-items: center;
    /* Вертикальное центрирование содержимого */
    max-width: 1158px;
    /* Максимальная ширина контейнера */
    margin: 0 auto;
    /* Автоматические отступы для центрирования по горизонтали */
    padding: 15px;
    /* Внутренние отступы */
}

.header-name-iris {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    /* Цвет текста */
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    /* Верхний и нижний отступы */
    margin-right: 76px;
    /* Правый внешний отступ */
}

.header-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* Цвет текста */
    margin-right: auto;
    /* Автоматический правый отступ для выравнивания всех элементов к левому краю */
}

.header-ul {
    list-style: none;
    display: flex;
    gap: 40px;
    /* Расстояние между элементами списка */
    padding: 0;
    margin: 0;
    margin-right: 76px;
    /* Правый внешний отступ */
}

.header-menu-link {
    color: #2E2F42;
    /* Цвет текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px;
    /* Внутренний отступ */
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
    /* Цвет текста при наведении или фокусе */
}

.contact-info {
    display: flex;
    gap: 40px;
    /* Расстояние между элементами */
}

.class-address {
    font-style: normal;
    display: flex;
    align-items: center;
    /* Вертикальное центрирование содержимого */
}

.address-ul {
    display: flex;
    margin-left: 332px;
    /* Левый внешний отступ */
    gap: 40px;
    /* Расстояние между элементами списка */
}

.address-item {
    margin-right: 24px;
    /* Правый внешний отступ для каждого элемента списка */
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434655;
    /* Цвет текста */
}


/* Header finish */



/*туловище сайта section-one*/
.section-one {
    
}

.section-one-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
    margin:0 auto;
    margin-bottom: 48px;
}



.section-one-button {
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}




.section-one-button:hover,
.section-one-button:focus {
    background-color: #404BBF;
}

.container-one-wrap{
    background-color: rgba(46, 47, 66, 1);
    padding: 188px 473px 473px 292px;
}


.section-one-continuation{
    padding-bottom: 120px;
    padding-top: 120px;
}


.section-one-continuation-container {
    width: 1128px;
    margin-left: 156px;
  
}

.visually-hidden {
    position: absolute;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-one-ul {
    display: flex;
    gap: 24px;
    margin-left: 156px;
}

.section-one-item {
  
}

.section-one-letters {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgba(46, 47, 66, 1);
    margin-bottom: 8px;
}

.section-one-comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba(67, 68, 85, 1);
    max-width: 264px;
}


/*туловище сайта section-one finish*/

/*Для Our-team*/

 .section-two{
    padding-bottom: 120px;
    padding-top: 120px;
    background: rgba(244, 244, 253, 1);
}

.two-container{
    
    max-width: 1440px;  
     margin: 0 auto;  
    padding:  24px;
    
}


.section-two-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    max-width: 162px;
    margin: 0 auto;
    margin-bottom: 72px;
}


.section-two-ul {
    list-style: none;
        /* Удаление маркеров списка */
        padding: 0;
        /* Удаление стандартных паддингов списка */
        display: flex;
        /* Использование flexbox для выравнивания элементов */
        justify-content: center;
        /* Центрирование элементов внутри flex контейнера */
        flex-wrap: wrap;
    
    }



.section-two-item {
    margin: 24px;
     width: 264px; 
}

.picture-one {
    max-width: 100%;
        /* Максимальная ширина изображений, чтобы они были отзывчивыми */
        height: auto;
        /* Высота изображений будет автоматически рассчитана */
        display: block;
        /* Установка изображений как блочных элементов для правильного отображения */
        margin-bottom: 32px;
        /* Отступы снизу изображения */
}

.section-two-letters {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-two-comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Для Our-team finish*/

/*Для Our Portfolio*/

.section-three {
    padding-bottom: 120px;
    padding-top: 120px;
    background-color:#FFFFFF
}


.container-our-portfolio{
    max-width: 1128px;
        margin: 0 auto;
        padding: 24px;
}

.section-three-name {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    max-width: 218px;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 72px;

}

.section-three-ul {
    list-style: none;
        /* Удаление маркеров списка */
        padding: 0;
        /* Удаление стандартных паддингов списка */
        display: flex;
        /* Использование flexbox для выравнивания элементов */
        justify-content: center;
        /* Центрирование элементов внутри flex контейнера */
        flex-wrap: wrap;
    background-color: #FFFFFF;
}

.section-three-item {
        width: 360px;
}

.picture-two {
    max-width: 100%;
        /* Максимальная ширина изображений, чтобы они были отзывчивыми */
        height: auto;
        /* Высота изображений будет автоматически рассчитана */
        display: block;
        /* Установка изображений как блочных элементов для правильного отображения */
        margin-bottom:  32px; ;
        /* Отступы снизу изображения */
}

.section-three-letters {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-three-comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Для Our Portfolio finish*/

/*Ноги сайта*/

.footer-the-end {
    background-color: rgba(46, 47, 66, 1);
    /* Цвет фона футера */
    /* Добавьте сюда другие стили, если нужно */
}

.footer-container {
    max-width: 1440px;
        margin: 0 auto;
        /* Центрирование контейнера */
        display: flex;
        flex-direction: column;
        /* Столбец для вертикального стека */
        align-items: flex-start;
        /* Выравнивание содержимого по левому краю */
        justify-content: center;
        /* Вертикальное центрирование */
        height: 100%;
        /* Задаем 100% высоты футера для вертикального центрирования */
        padding-left: 40px;
        /* Отступ слева */
}

.footer-name,
.footer-iric {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* Цвет текста */
    margin-bottom: 16px;
    /* Убираем отступы, так как Flexbox будет использоваться для выравнивания */
    text-decoration: none;
    /* Убрать подчеркивание у ссылки */
}

.footer-iric {
    color: rgba(244, 244, 253, 1);
    /* Цвет отличается от основного имени */
}

.footer-comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba(244, 244, 253, 1);
    max-width: 600px;
    /* Максимальная ширина текста для лучшего читаемости */
        text-align: left;
    margin: 0;
}

/*Ноги сайта finish*/